.modal-body img {
  width: 440px;
  height: 660px;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .modal-body img {
    width: 270px;
    height: 330px;
    margin: 0 auto;
  }
}
